body{
   background-color: beige;
}
.body{background-image:linear-gradient(to  left, rgba(105, 66, 203), rgba(252, 251, 254));}
h1{
    color: darkblue;
    border-bottom:  0px solid gray;
    width: 350px;
    margin: auto;
    padding: 5%;
}
ul{
    background-color:rgb(135, 143, 235);
    list-style: none;
    text-align: center;
    padding: 2px;
    border-radius: 5px;

}
li:hover {
   color: darkblue;
}
/* .menu{
    transition-timing-function: ease-in-out; 
} */

li{
    display: inline-block;
    font-size: large;
    padding: 15px;
}
li.sign{
    text-align: end;

}
a{
    color: black;
    text-decoration: none;
}

.car {
    border: 1px solid darkblue ;
    padding: 6px;
    width: 400px;
    border-radius: 5px;
    text-align: justify;
    background-color:rgb(240, 240, 226);
    font-size: large;
}
.car0 {
    /* margin-top: 10px; */
    float: left;
    padding: 18px;
}
.car1 {
    /* position: relative;
    left: 415px;
    bottom: 192px;
    margin-top: 2px; */
    float: left;
    padding: 18px;

}
.car2 {
    /* position: relative;
    left: 830px;
    bottom: 390px;
    margin-top: 4px; */
    float: left;
    padding: 18px;
}
 .pic {
    float: left;
    padding: 15px; 
    border-radius: 20px;
  }
 .buy {
     clear: left;
     border: 1px solid darkblue;
     padding: 8px;
     width: 120px;
     height: 30px;
     border-radius: 10px;
     text-align: center;
     background-color: blue;
     margin: auto;
 }
    a.test1:visited{color:black;}
    a.buy:hover{color: blue;}
    p.buy:hover{
       background-color: blue;
       box-shadow: 5px 5px 0; 
    }
    th {background-color: rgb(190, 188, 188)}
    td:hover{
        background-color: rgb(176, 207, 219);
        box-shadow: 5px 5px 5px;
    }
    /* table , th, td{
        border: 1px solid black;
        border-collapse: collapse;
        border-radius: 8px;
    } */
 
h2 {
    /* color: darkblue;
    border-bottom: 1px solid gray;
    width: 350px;
    margin: auto;
    padding: 3%; */
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
    padding: 0.5%;
    text-shadow: 1px 1px 3px blue, 3px 3px 5px skyblue, 5px 5px 7px rgb(210, 241, 253)
}
/* .pic {
  float: left;
  padding: 15px; 
} */
.form{
    border: 1px solid gray;
    padding: 5px;
    width: 500px;
    border-radius: 5px;
    background-color: beige;
    margin: auto;
    font-size: medium;
}
form{
    border: 1px solid white;
    padding: 10px;
    margin: auto;
    background-color: white;
    width: 300px;
    border-radius: 12px;
    font-size: medium;
    text-align: center;    
}
input.field{
    width: 90%;
    padding: 9px 0px;
    margin: 10px 5px;
    border: none;
    border-bottom: 2px solid blueviolet;
}
input[type=button] {
    width: 100%;
    padding: 10px 0px;
    margin: 8px 2px;
    border: 1px solid white;
    border-radius: 5px;
    background-image:linear-gradient(to  left, rgba(105, 66, 203), rgba(252, 251, 254)); ;
}
.field:hover {
    border-bottom: 4px solid blueviolet;
}
.bottom:hover{background: blueviolet;}


.account {
    color: blue;
}
.login{
    padding: 90px;
}
   